*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 100vh;
  background-image: linear-gradient(#fcbcbc, #fcc2c2);
}

input {
  font: inherit;
}

#login-form {
  margin: 200px auto;
  padding: 3rem 1.5rem;
  background-color: white;
  width: min(350px, 90%);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 2rem;
}

.form-subtitle {
  margin-top: 0.7rem;
  color: #9c9999;
}

.form-inputs {
  margin: 2rem 0 1.5rem;
  display: grid;
  gap: 1rem;
  color: #6b6b6b;
}

.form-label {
  width: 100%;
  display: grid;
  grid-template-areas: "input";
}

.form-input {
  grid-area: input;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #d7d0d0;
  padding: 0.7rem 1.5rem;
  color: #6b6b6b;
}

.form-button {
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: #fc6565;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.form-links {
  margin-top: 1rem;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
}

.form-button:hover {
  background-color: #fc4b4b;
  cursor: pointer;
}

.form-button:active {
  background-color: #e03b3b;
}
