*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  min-height: 100vh;
  background-image: url(../assets/dnd-kingdom.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
