.navbar {
  padding: 1.5rem 2rem;
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-main button:first-child {
  margin-right: auto;
}

.navbar-item {
  font-family: "Playfair Display", serif;
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.navbar-item:hover {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.9),
    0 0 30px rgba(255, 255, 255, 0.6);
}

.navbar-item:last-child {
  margin-left: 1rem;
}
