@import url(navbar.css);

.about-container {
  margin: 150px auto;
  padding: 3rem 1.5rem;
  background-color: white;
  width: min(500px, 90%);
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description {
  font-size: 1rem;
  line-height: 1.5rem;
}

.info-item {
  line-height: 1.5rem;
}

.info-item label {
  font-weight: bold;
}
