.navbar-container {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.nav-link {
  color: black;
  text-decoration: none;
  margin: 0 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.nav-link:hover {
  text-decoration: underline;
}
.nav-link:active {
  color: #1f1f1f;
}
.nav-link:last-child {
  margin-left: auto;
  margin-right: 1.5rem;
}
.nav-link:first-child {
  margin-left: 1.5rem;
}
