/*main.css*/
@import url(header.css);
@import url(poster.css);
@import url(catalog.css);
@import url(form.css);

*,
::after,
::before {
  box-sizing: border-box;
}
.contain {
  padding: 0 1rem;
  overflow: hidden;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
}

footer {
  text-align: center;
  font-size: 0.9rem;
}
