.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: calc(100vh - 160px);
  padding: 2rem;
}

.loading-container .message {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
}
