.no-products-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px);
  padding: 2rem;
}

.emoji {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.text {
  margin-top: 0.5rem;
}
